*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #4f689c;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
}
.head{
    display: flex;
    height: 7vh;
    justify-content: space-around;
    color: rgb(33,12,224);
}
 
 .logo{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 30px;

} 
.logo img{
    border-radius: 40px;
}
nav ul{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    gap: 28px;
}
li{
    list-style: none;
    cursor: pointer;
}
nav ul li:hover{
    text-decoration: none;
    font-weight: 1000;
}
a{
    text-decoration: none;
    color: rgb(8, 8, 10);
    font-size: 22px;
}
.search{
    display: flex;
    align-items: center;
    font-size: large;
 
    
}
/* .search button{
    border-radius: 25px;
} */
.search input{
    border-radius: 25px;
}

button{
    background-color: rgb(33,12,224);
    color: white;
    padding: 4px 10px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid white;
    border-radius: 5px;
    width: fit-content;
    font-weight: 500;
    border-radius: 25px;
}
button:hover{
    background-color: #19970d;
    color: black;
    border: 1px solid black;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    margin-left: 50px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 50px; */
 }
.left h1{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}
.left h1 span{
    color: rgb(33, 12, 224);
    font-size: 2.5rem;
}
.left p{
    font-size: 25px;
    font-weight: 500;
}
.left p span{
    color: rgb(33,12,224);
    font-weight: 700;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.right img{
    height: 350px;
    width: 350px;
    border-radius: 25px;
}

#propic{
    border-radius: 50%;
}
.topic{
    margin-left: 50px;
    margin-bottom: 25px;
}
.skills{
    margin-left: 50px;
    display: flex;
    justify-content: space-;
}
.bar{
    margin: 15px;
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
}
.projects{
    margin-left: 50px;
}
.container img{
    height: 25vh;
    width: 30vw;
    margin: 5vh 2vw;
    border-radius: 35px;
}
h2{
    margin: 15px 0;
}
.container{
    display: flex;
}
.container p{
    display: flex;
    
}
.container h2{
    display: flex;
    color: blue;
}
.insidecontainer{
   text-align: center;
}
.insidecontainer p{
    margin-right: 25px;
}
/* contact part */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contact h1{
    font-size: 40px;
    color: blue;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
label{
    font-size: 25px;
}
input{
    width: 30vw;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 25px;
}
textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 25px;
}
.contact button{
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.links{
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
}
.links p{
    margin: 10px 0;
}
.links p:hover{
    text-decoration: underline;
    color: rgb(51, 214, 36);
    font-size: 16px;
}
.links ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.second ul li a{
    color: white;
    margin: 0 10px;
}
.links ul li a:hover{
   font-weight: 900;
   text-decoration: solid;
}
i{
    font-size: 20px;
    margin-right: 10px;
}
footer{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #212121;
    color: white; 
}
footer p{
    font-weight: 600;
}